<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
        <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
        </script>
</head>
<body>
<h1 class="li" > 我是那个需要改变的数据。。</h1>

<button class="name" type="button" >点我获取数据</button>
<script type="application/javascript">

    $("button").click(function(){
        $.post("/try/ajax/demo_test_post.php",
            {
                name:"菜鸟教程",
                url:"http://www.runoob.com"
            },
            function(data,status){
                alert("数据: \n" + data + "\n状态: " + status);
            });
    });

    $("button").click(function(){
        $.get("demo_test.php",function(data,status){
            alert("数据: " + data + "\n状态: " + status);
        });
    });

</script>
</body>
</html>